@import "tailwindcss";

@font-face {
    font-family: 'NotoSans';
    src: url('@/assets/fonts/NotoSansSC-VariableFont_wght.ttf');
}

* {

    /* 开发测试用 */
    /*outline: 0.1px solid rgba(255, 0, 0, 0.1);*/
}

:root {
    font-family: 'NotoSans', sans-serif;
    background: #f4f7fc;
}
